## Python Data Types 
We will use this Jupyter Notebook to discuss basic Python Datatypes

Folder for practice based on class lectures

In [1]:
bool(8)

True

In [10]:
bool (0 > 8)

False

Conditionals 
1. >
2. <
3. >=
4. <=
5. ==
6. |=
7. or ... |
8. and ... &

In [11]:
bool(0 & 8)

False

False because '&' is determined as both cnditions must be true. 'Or' means that at least one condittion needs to be true.

In [12]:
bool(0 | 8)

True

In [5]:
bool(0)

False

In [6]:
bool(8)

True

In [13]:
bool(1 & 8)

False

In [15]:
bool (1) & bool(8)

True

In [23]:
num1 = 8
num2 = 8
num3 = 7

num_input = int(input("Input a number"))
bool (num1 & num_input)

True

In [24]:
bool (num1 & num2)

True

In [25]:
bool (num2 & num3)

False

In [33]:
bool (num1 & num_input)

True

mutability: a value that can be changed and iterability: an object that contains other elements.

In [27]:
type(8)

int

this is a float because it contains a decimal

In [28]:
type(8.0)

float

In [36]:
my_string1 = "can't" 
my_string2 = 'John said "we shokd make sure we know the definitions of mutuability and interability"'

my_string3 = "The current rate of inflation for the US economy was 2.5% "

type(my_string3)

str

In [37]:
my_string1 + my_string3

"can'tThe current rate of inflation for the US economy was 2.5% "

In [38]:
my_string1 *2

"can'tcan't"

In [39]:
my_string1 * my_string3

TypeError: can't multiply sequence by non-int of type 'str'

this doen here gives us an error because we can't multi

A list is denoted with brackets

In [40]:
my_list = ['this is the first element', 2424, my_string3]

In [41]:
my_list

['this is the first element',
 2424,
 'The current rate of inflation for the US economy was 2.5% ']

In [42]:
my_list[0]

'this is the first element'

In [43]:
my_list[1]

2424

In [44]:
type[my_list[2]]

type['The current rate of inflation for the US economy was 2.5% ']

In [45]:
['this is the first element', 2424, my_string2, my_string3, my_list][4][0]

'this is the first element'

In [46]:
my_list2 = [2424, my_string2, my_string3, my_list]

In [47]:
my_list2.append(['some other list'])

In [48]:
my_list2

[2424,
 'John said "we shokd make sure we know the definitions of mutuability and interability"',
 'The current rate of inflation for the US economy was 2.5% ',
 ['this is the first element',
  2424,
  'The current rate of inflation for the US economy was 2.5% '],
 ['some other list']]

In [49]:
my_tuple = ('some element', 2424, 987.2009, my_list2, my_string3)

you cant change th evalue of a tuple. 
We use append to change a value of something

In [50]:
my_tuple.append(['a new element'])

AttributeError: 'tuple' object has no attribute 'append'

In [52]:
my_tuple[0]

'some element'

In [51]:
my_tuple[1:3]

(2424, 987.2009)

This is a set

In [52]:
my_list3 = [3, 2, 65, 2, 3 ,456, 73, 2345, 89, 3, 4, 2,]

In [53]:
set(my_list3)

{2, 3, 4, 65, 73, 89, 456, 2345}

In [54]:
set(my_string3)

{' ',
 '%',
 '.',
 '2',
 '5',
 'S',
 'T',
 'U',
 'a',
 'c',
 'e',
 'f',
 'h',
 'i',
 'l',
 'm',
 'n',
 'o',
 'r',
 's',
 't',
 'u',
 'w',
 'y'}

we cant do a set on a list
Because it cant compare or identify if the characters on list are unique or not

The dictionary
- another tyoe of data

In [55]:
my_list

['this is the first element',
 2424,
 'The current rate of inflation for the US economy was 2.5% ']

In [56]:
my_dict = {"my_list": my_list}